.test {
  background: $color-danger;
  color: $color-white;
  padding: 2rem;
}
.test2 {
  background: $brand-color;
  color: $color-white;
  padding: 2rem;
}

.test3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Some default styles to make each box visible */
.box {
  color: white;
  font-size: 30px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Colours for each box */
.box1 {
  background: #1abc9c;
}
.box2 {
  background: #3498db;
}
.box3 {
  background: #9b59b6;
}
.box4 {
  background: #34495e;
}
.box5 {
  background: #f1c40f;
}
.box6 {
  background: #e67e22;
}
.box7 {
  background: #e74c3c;
}
.box8 {
  background: #bdc3c7;
}
.box9 {
  background: #2ecc71;
}
.box10 {
  background: #16a085;
}

/* We start writing out flexbox here. The above is just page setup */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 10px solid goldenrod;
  height: 100%;
}

.box {
  flex-basis: 250px;
  flex-grow: 1;
}

.box3 {
  flex-grow: 5;
}

.box4 {
  flex-basis: 100px;
}

button {
  padding: 1rem;
  border: 1px solid green;
  margin: 2rem;
}
